# Node.js dependencies & builds
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo

# Python caches, builds & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
.lib/

# Local Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini
